{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-debugger": 1,
    "linebreak-style": 0,
    "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-curly-brace-presence": [1, { "props": "always", "children": "ignore" }],
    "object-curly-newline": 0
  }
}
